name: cd

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      packages: read

    steps:
    - uses: actions/checkout@v6
    - name: Setup CodeQL
      uses: github/codeql-action/init@v4
      with:
        languages: csharp
        build-mode: none
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          8.0.x
          10.0.x
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: CodeQL Analysis
      uses: github/codeql-action/analyze@v4
